<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Khulnasoft BFSC Toolkit</title>
    <link href='/main.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="https://khulnasoft.com/favicon.png" type="image/png">
  </head>
  <body class="home-template">
    <header class="main-header">
    <ul id="nav">
      <div class="container">
        <li><a id="logo-link" href="https://khulnasoft.com/?ref=bfsc"></a></li>
        <li><a href="https://khulnasoft.com/blog/">Blog</a></li>
        <div class="middle-links">
          <li><a href="https://khulnasoft.com/features/?ref=bfsc">Features</a></li>
          <li><a href="https://khulnasoft.com/demo/?ref=bfsc">Demo</a></li>
          <li><a href="https://docs.khulnasoft.com" target="_blank">Docs</a></li>
        </div>
        <div class="float-right">
          <li><a href="https://dashboard.khulnasoft.com/#/access/signin" class="login-link">Log In</a></li>
          <li><a href="https://dashboard.khulnasoft.com/#/access/signup?ref=bfsc" class="btn login-link">Sign Up</a></li>
        </div>
      </div>
    </ul>
    </header>
    <div class='container'>
      <section class='desc'>
        <div class='section-inner'>
          <header>
            <h1>Khulnasoft BFSC Toolkit</h1>
            <span>Process BFSC codes via our toolkit. Fire up your tools and query our API for the BFSC codes.</span>
          </header>

          <ul class="main-content">
            <li>An API to query BFSC codes</li>
            <li>BFSC dataset available for download</li>
            <li>Code to generate the dataset</li>
          </ul>

          <nav class="buttons">
            <a title="API Documentation" href="https://github.com/khulnasoft/bfsc/wiki/API"><i class="icon-book"></i>API Docs</a>
            <a title="Dataset Download" href="https://github.com/khulnasoft/bfsc/releases"><i class="icon-drive"></i>Dataset</a>
            <a title="Source Code" href="https://github.com/khulnasoft/bfsc"><i class="icon-github-circled"></i>GitHub</a>
          </nav>

          <!-- Div repeated twice to break it into 2 rows -->
          <nav class="buttons">
            <a title="Composer Package" href="https://packagist.org/packages/khulnasoft/bfsc"><i class="icon-drive"></i>PHP</a>
            <a title="Node.js Package" href="https://www.npmjs.com/package/bfsc"><i class="icon-drive"></i>Node.js</a>
            <a title="Rubygems Package" href="https://rubygems.org/gems/bfsc"><i class="icon-drive"></i>Ruby</a>
          </nav>

          <nav class="buttons">
            <a title="Docker Image" href="https://cloud.docker.com/u/khulnasoft/repository/docker/khulnasoft/bfsc/general"><i class="icon-drive"></i>Docker</a>
            <a title="Elixir Package (hex)" href="https://hex.pm/packages/bfsc"><i class="icon-drive"></i>Elixir</a>
          </nav>
        </div>
      </section>
    </div>
    <footer>
      <a href="https://khulnasoft.com/about/" title="Link to Khulnasoft About Page">Made with <span class="heart">♥</span> by folks at Khulnasoft</a>
    </footer>
    <script type="text/javascript" src="/ga.js"></script>
</body>
</html>
